.header-text {
  font-family: 'Jaldi', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 61px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.header-img {
  height: 40vh;
  max-width: 100%;
  background-size: cover;
  background: #FFFFFF url("../../../assets/images/header.jpeg") no-repeat left;
  background-size: cover;
}

.header-img-container {
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.box-shadow {
  max-width: 100%;
  height: 1px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #00000033;
}
