<div class="w-75 my-4">
  <table class="table">
    <thead class="car-list-header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Línea</th>
      <th scope="col">Modelo</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let car of cars">
      <th scope="row">{{car.id}}</th>
      <td>{{car.marca}}</td>
      <td>{{car.linea}}</td>
      <td>{{car.modelo}}</td>
    </tr>
    </tbody>
  </table>
  <p *ngFor="let brand of brands">{{brand}}</p>

</div>
